<div class="index_container container" style="width: 80%; margin-top:10px">

  <div class="row">
    <div class="col-12">
      <h3>My lists</h3>
    </div>

    <div class="col-12">
      <div class="class">
        <% @lists.each do |list| %>
        <h5 class="card-title btn btn-light">
        <%= link_to list.name.capitalize, list_path(list) %></h5>
        <% end %>
      </div>
    </div>

    <div class="col-12">
      <p class="btn btn-info"><%= link_to 'Add list', new_list_path %></p>
    </div>
  </div>
</div>
